<html>

<style>

body {
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2013/09/nyc.jpg");
}

</style>
<div class="title">
<h1 class="bold" style=font-size:70px>Rate My Rental</h1>
</div>

</html>


