<h1 style=font-size:50px>Tenants:</h1>
<%@tenants.each do |tenant|%>
<p><%= link_to tenant.username, tenant_path(tenant) %></p>
<img class="thumbnail"src="<%=tenant.avatar%>" alt="<%=tenant.username%>">
<% end %>
